.m-wrap {
  width: 100%;
  font-family: Bravura;
  display: flex;
  --line-width: 0.03em;
}

staff {
  height: 4em;
  width: 100%;
  position: relative;
  background: white;
  font-size: 1em;
  line-height: 4em;
}

staff lines {
  width: 100%;
  position: absolute;
  top: 2em;
  transform: translate(0, -50%);
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

lines line {
  padding-bottom: calc(0.25em - var(--line-width));
  border-top: var(--line-width) solid black;
}

lines line:last-child {
  padding-bottom: 0;
}

staff > span {
  position: absolute;
  transform: translate(1.25em, -0.25em)
}

staff span.tempo {
  font-size: 0.5em;
  display: flex;
  gap: 0.25em;
}

.tempo .strong {
  font-weight: bold;
}

.gclef {
  transform: translate(0, 0.25em)
}

.two_time {
  transform: translate(0.75em, -0.25em)
}

.four_time {
  transform: translate(0.75em, 0.25em)
}


staff span.barline {
  top: 2em;
  width: var(--line-width);
  border-left: var(--line-width) solid black;
  height: 1em;
}


staff .cursor {
  display: flex;
  position: absolute;
  top: 2em;
  height: 3em;
  width: 1em;
  background: rgba(153, 153, 153, 0.5);
}

staff .cursor .fill {
  height: 100%;
  background-color: yellow;
}

staff.playing .cursor .fill {
  animation-name: fill-width;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

staff span.stem {
  border-left: var(--line-width) solid black;
}

.stem.up {
  top: 0.04em;
}

@keyframes fill-width {
  from { width: 0; }
  to { width: 100%; }
}
