.m-wrap {
  width: 100%;
  font-family: Bravura;
  display: flex;
}

staff {
  height: 4em;
  width: 100%;
  position: relative;
  background: white;
  font-size: 1em;
  line-height: 4em;
}

staff lines {
  width: 100%;
  position: absolute;
  top: 2em;
  transform: translate(0, -50%);
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

lines line {
  padding-bottom: calc(0.25em - 0.02em);
  border-top: 0.02em solid black;
}

lines line:last-child {
  padding-bottom: 0;
}

staff span {
  position: absolute;
  transform: translate(1.25em, -0.25em)
}

.gclef {
  transform: translate(0, 0.25em)
}

.two_time {
  transform: translate(0.75em, -0.25em)
}

.four_time {
  transform: translate(0.75em, 0.25em)
}
